In [2]:
import numpy as np
import pandas as pd
import os

In [3]:
data =pd.read_csv('film.csv')
df = pd.DataFrame(data)
df.index = df.index +1
df.head(5)

,Director,Film_Count,Film_Country,Film_Date,Film_Name,Film_Rate,Stars
1,Frank Darabont,NaN,USA,14 October 1994,The Shawshank Redemption,9.3,"Tim Robbins,Morgan Freeman,Bob Gunton"
2,Isao Takahata,NaN,USA,26 July 1989,Grave of the Fireflies,8.5,"Tsutomu Tatsumi,Ayano Shiraishi,Akemi Yamaguchi"
3,Ridley Scott,NaN,USA,5 May 2000,Gladiator,8.5,"Russell Crowe,Joaquin Phoenix,Connie Nielsen"
4,Robert Zemeckis,NaN,USA,3 July 1985,Back to the Future,8.5,"Michael J. Fox,Christopher Lloyd,Lea Thompson"
5,Frank Darabont,NaN,USA,10 December 1999,The Green Mile,8.6,"Tom Hanks,Michael Clarke Duncan,David Morse"

In [29]:
df.sort_values(by='Film_Rate', ascending =False, inplace= True)
df.set_index(np.arange(1,(len(df))+1), inplace=True)
df.to_excel("Top_330_Films.xlsx",sheet_name='Top_330_Films')
df

,Director,Film_Country,Film_Date,Film_Name,Film_Rate,Stars
1,Frank Darabont,USA,14 October 1994,The Shawshank Redemption,9.3,"Tim Robbins,Morgan Freeman,Bob Gunton"
2,Francis Ford Coppola,USA,24 March 1972,The Godfather,9.2,"Marlon Brando,Al Pacino,James Caan"
3,Francis Ford Coppola,USA,18 December 1974,The Godfather: Part II,9.0,"Al Pacino,Robert De Niro,Robert Duvall"
4,Christopher Nolan,USA,18 July 2008,The Dark Knight,9.0,"Christian Bale,Heath Ledger,Aaron Eckhart"
5,Sidney Lumet,USA,10 April 1957,12 Angry Men,8.9,"Henry Fonda,Lee J. Cobb,Martin Balsam"
...,...,...,...,...,...,...
314,Furkan Kopuz,Tur,26 December 2015,Bilincsizler,7.4,"Nuray Guneci,Furkan Kopuz,Metin Cemal Aydin"
315,Peter Jackson,USA,17 December 2014,The Hobbit: The Battle of the Five Armies,7.4,"Ian McKellen,Martin Freeman,Richard Armitage"
316,Christopher Nolan,USA,24 May 2002,Insomnia,7.2,"Al Pacino,Robin Williams,Hilary Swank"
317,Faruk Aksoy,USA,25 April 2012,Conquest 1453,6.7,"Devrim Evin,Ibrahim Celikkol,Dilek Serbest"
318,Furkan Kopuz,Tur,19 May 2013,Sekiz Cinayeti,6.0,"Furkan Kopuz,Ömer Faruk Kopuz,Ercan Kopuz"